@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Lobster&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    background-color: #eaece5;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    text-align: center;
    padding: 1.5rem;
    color: black;
    font-size: 2rem;
    /* background-color: brown; */
}

main {
    width: 40%;
    padding: 0 1rem;
    margin: auto;
    /* background-color: red; */
}

textarea {
    display: block;
    margin: auto;
    width: 100%;
    height: 10rem;
    border: 1px solid black;
    padding: 1rem;
}

button {
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    margin: 1.5rem 0;
    background-color: black;
    color: white;
}

main h4 {
    margin: 0.5rem;
}

footer {
    text-align: center;
    /* background-color: #3B3A30; */
    color: black;
    padding: 0.9rem;
    margin-top: 1rem;
}

footer a {
    color: red;
}

footer span {
    color: red;
}

@media (max-width: 900px) {
    main {
        width: 90%;
    }
    header {
        padding: 2rem 0;
    }
    header h1 {
        font-size: 2rem;
    }
    textarea {
        height: 9.5rem;
    }
    footer {
        margin-top: 2rem;
        margin-bottom: 0;
    }
}